@model DCI.Models.ViewModel.ReportGraphsDataViewModel
@using System.Text.Json



<div class="container-fluid">

    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">
            <a href="/Report/ReportStatus/"><i class='fa-solid fa-file'></i> Document Status Report List </a>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
            <a href="/Report/ReportDocType/"><i class='fa-solid fa-file'></i> Document Type Report List </a>
        </button>
    </div>
    <hr />
      
@*    1 row in 2 columns
    <div style="display: flex; justify-content: space-between; width: 100%; margin: auto;">
        <!-- First Bar Chart -->
        <div style="flex: 1; padding: 10px;">
            <canvas id="documentChart"></canvas>
        </div>

        <!-- Second Bar Chart -->
        <div style="flex: 1; padding: 10px;">
            <canvas id="documenttype"></canvas>
        </div>
    </div> *@


    <div style="display: flex; flex-direction: column; align-items: center; width: 100%; margin: auto;">
        <!-- First Bar Chart (First Row) -->
        <div style="width: 60%; padding: 10px;">
            <canvas id="graphStatus"></canvas>
        </div>

        <!-- Second Bar Chart (Second Row) -->
        <div style="width: 60%; padding: 10px; margin-top: 20px;">
            <canvas id="graphDocType"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
       document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById('graphStatus').getContext('2d');
    var statusData = @Html.Raw(JsonSerializer.Serialize(Model.StatusData));

          var colorPalette = [
            'red', 'green', 'blue', 'purple', 'orange', 'pink', 'yellow', 'cyan', 'magenta', 'lime',
            'brown', 'indigo', 'teal', 'violet', 'gold', 'silver', 'peach', 'coral', 'skyblue', 'chocolate'
        ];             
    
        var colors = statusData.map(function(count, index) {
            return colorPalette[index % colorPalette.length]; 
        });

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                  labels: statusData.map(item => item.Status),
                datasets: [{
                    label: 'Document Status',
                    data:  statusData.map(item => item.Count),
                    backgroundColor: colors,
                    borderColor: ['black'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });

     document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById('graphDocType').getContext('2d');
           
        var typeData =  @Html.Raw(JsonSerializer.Serialize(Model.TypeData));
      
        var colorPalette = [
            'brown', 'indigo', 'teal', 'violet', 'gold', 'silver', 'peach', 'coral', 'skyblue', 'chocolate',
            'red', 'green', 'blue', 'purple', 'orange', 'pink', 'yellow', 'cyan', 'magenta', 'lime'            
        ];

      
       
        var colors = typeData.map(function(count, index) {
            return colorPalette[index % colorPalette.length]; 
        });

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                 labels: typeData.map(item => item.Status),
                datasets: [{
                    label: 'Document Type',
                    data: typeData.map(item => item.Count),
                    backgroundColor: colors,
                    borderColor: ['black'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
