@using Newtonsoft.Json;
@using DCI.Core.Common
@using DCI.Models.ViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DCI</title>
    <link href="~/DCIcustom.css" rel="stylesheet" />
    <link href="~/css/ess/main-responsive.css" rel="stylesheet" />
    <link href="~/css/ess/main.css" rel="stylesheet" />
    <link href="~/css/ess/main-extension.css" rel="stylesheet" />
    <link href="~/css/ess/ess-custom.css" rel="stylesheet" />
    <link href="~/css/ess/login-custom.css" rel="stylesheet" />
    <link href="~/css/ess/modstrap.css" rel="stylesheet" />

    @* bootstrap *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    @* datatables *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />

    @* font awesome *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />

    @* datatable export button *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css">

</head>

<body>
    @{
        var modulePageAccess = Context.Session.GetString("ModulePageAccess");
        var moduleList = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess ?? "[]") ?? new List<ModuleInRoleViewModel>();

        int iCountModuleDeduction = moduleList.Where(x => x.ModulePageId == (int)EnumModulePage.Late || x.ModulePageId == (int)EnumModulePage.Undertime)
        .Select(x => x.ModulePageId)
        .Distinct()
        .Count();
        bool iCounterDeduction = false;
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var accountActions = new HashSet<string>(StringComparer.OrdinalIgnoreCase)


        {
        "Login",
        "ForgotPassword",
        "VerifyToken",
        "ChangePassword",
        "Upload"
     
        };

        bool isNonAccountAction = !accountActions.Contains(currentAction);
        bool isNonAccountController = !string.Equals(currentController, "Account", StringComparison.OrdinalIgnoreCase);
    }

    @if (isNonAccountAction && isNonAccountController)
    {
        <div id="wrapper">
            <ul class="navbar-nav bgGradientPrimary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a asp-controller="Home" asp-action="Index" class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-text d-block text-dark">
                        PMS <sup>1.0</sup>
                    </div>
                </a>
                <hr class='sidebar-divider'>
                <a class='mainModule' href='~/Home/Index'>
                    <div class='sidebar-heading mainModuleActive'>
                        <i class='fa-solid fa-gauge-high'></i>
                        <span>Dashboard</span>
                        <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                    </div>
                </a>
                <hr class='sidebar-divider'>
                <a class='mainModule' href='~/Project/Index'>
                    <div class='sidebar-heading mainModuleActive'>
                        <i class='fa-solid fa fa-file-text'></i>
                        <span>Project</span>
                        <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                    </div>
                </a>
                <hr class='sidebar-divider'>
                <a class='mainModule' href='~/Tracker/Index'>
                    <div class='sidebar-heading mainModuleActive'>
                        <i class='fa-solid fa-th-list'></i>
                        <span>Tracker</span>
                        <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                    </div>
                </a>
            @*     <hr class='sidebar-divider'>
                <a class='mainModule' href='~/Tracker/Index'>
                    <div class='sidebar-heading mainModuleActive'>
                        <i class='fa-solid fas fa-calendar'></i>
                        <span>Calendar <sup>Coming Soon</sup></span>
                        <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                    </div>
                </a> *@

                @foreach (var module in moduleList)
                {
                    @if (module.ModulePageId == (int)EnumModulePage.Dashboard)
                    {
                        <hr class='sidebar-divider'>
                        <a class='mainModule' href='~/Home/Index'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-gauge-high'></i>
                                <span>Dashboard</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }

                    @if (module.ModulePageId == (int)EnumModulePage.Form201)
                    {
                        <hr class='sidebar-divider'>
                        <a class='mainModule' href='~/Employee/Form201'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-user'></i>
                                <span>201 File</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }


                    @if (module.ModulePageId == (int)EnumModulePage.Todo)
                    {

                       
                        <hr class='sidebar-divider'>
                        <a href="/Todo/Index/" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-list-ul'></i>
                                <span>To Do</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }

                    @if (module.ModulePageId == (int)EnumModulePage.Administration)
                    {
                        <hr class='sidebar-divider'>
                        <a href="/Maintenance/Index/" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-user-gear'></i>
                                <span>Administration</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }
                    @if (module.ModulePageId == (int)EnumModulePage.Reports)
                    {
                        <hr class='sidebar-divider'>
                        <a href="/Report/Index/" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-bar-chart'></i>
                                <span>Reports</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }
                
                    @if (module.ModulePageId == (int)EnumModulePage.Attendance)
                    {
                        <hr class='sidebar-divider'>
                        
                        <a href="/DailyTimeRecord/Attendance/1" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-users'></i>
                                <span>Attendance</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>

                    }

                    @if (module.ModulePageId == (int)EnumModulePage.DTRCorrection)
                    {
                        <hr class='sidebar-divider'>
                       
                        <a href="/DailyTimeRecord/DTRCorrection?DtrId=1" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-cog'></i>
                                <span>DTR Adjustment</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }

              
                    @if (module.ModulePageId == (int)EnumModulePage.Leave)
                    {
                        <hr class='sidebar-divider'>
                        <a href="/DailyTimeRecord/Leave" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-suitcase'></i>
                                <span>Leave</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }
                    @if (module.ModulePageId == (int)EnumModulePage.Overtime)
                    {
                      
                        <hr class='sidebar-divider'>
                        <div role="group">
                            <a href="#" id="btnGroupDrop1" class="mainModule" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class='sidebar-heading mainModuleActive'>
                                    <i class='fa-solid fa-plus'></i>
                                    <span>Overtime</span>
                                    <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href="/DailyTimeRecord/AddOvertime?OTHeaderId=0">File Overtime</a></li>
                                <li><a class="dropdown-item" href="/DailyTimeRecord/Overtime/">Overtime Records</a></li>

                                <li><a class="dropdown-item" href="/DailyTimeRecord/OvertimeReport/">Overtime Report</a></li>
                            </ul>
                        </div>

                    }
                    @if (module.ModulePageId == (int)EnumModulePage.WFH)
                    {
                        <hr class='sidebar-divider'>
                        <a href="/DailyTimeRecord/WFH" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-desktop'></i>
                                <span>WFH</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }

                 

                    @if (iCountModuleDeduction == 2 && iCounterDeduction == false && (module.ModulePageId == (int)EnumModulePage.Undertime || module.ModulePageId == (int)EnumModulePage.Late))
                    {
                        <hr class='sidebar-divider'>
                        <div role="group">
                            <a href="#" id="btnGroupDrop1" class="mainModule" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class='sidebar-heading mainModuleActive'>
                                    <i class='fa-solid fa-eraser'></i>
                                    <span>DTR Deduction</span>
                                    <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href="/DailyTimeRecord/Late">Late</a></li>
                                <li><a class="dropdown-item" href="/DailyTimeRecord/Undertime">Undertime</a></li>
                            </ul>
                        </div>
                        iCounterDeduction = true;
                    }

                    @if (iCountModuleDeduction == 1 && iCounterDeduction == false && (module.ModulePageId == (int)EnumModulePage.Undertime || module.ModulePageId == (int)EnumModulePage.Late))
                    {
                        <hr class='sidebar-divider'>
                        <div role="group">
                            <a href="#" id="btnGroupDrop1" class="mainModule" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class='sidebar-heading mainModuleActive'>
                                    <i class='fa-solid fa-minus'></i>
                                    <span>DTR Deduction</span>
                                    <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                @if (module.ModulePageId == (int)EnumModulePage.Late)
                                {
                                    <li><a class="dropdown-item" href="/DailyTimeRecord/Late">Late</a></li>
                                }
                                @if (module.ModulePageId == (int)EnumModulePage.Undertime)
                                {
                                    <li><a class="dropdown-item" href="/DailyTimeRecord/Undertime">Undertime</a></li>
                                }
                            </ul>
                        </div>

                    }

                    @if (module.ModulePageId == (int)EnumModulePage.LeaveManagement)
                    {
                        <hr class='sidebar-divider'>
                        <a href="/DailyTimeRecord/LeaveManagement" class='mainModule'>
                            <div class='sidebar-heading mainModuleActive'>
                                <i class='fa-solid fa-briefcase'></i>
                                <span>HR Leave Management</span>
                                <i class='fa-solid fa-angle-right float-right text-gray-300 d-none d-lg-block iconRight'></i>
                            </div>
                        </a>
                    }


                }
                <!-- Divider -->
                <hr class="sidebar-divider">
              
            </ul>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                   
                       

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter"><div id="notification-count"></div></span>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Notifications
                                    </h6>



                                    @*   No notification available *@
                                    @* START*@
                                    <div class='headerNotifDiv'>
                                        <div id="notification-container"></div>
                                    </div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

                                    <script>
                                        const connection = new signalR.HubConnectionBuilder()
                                            .withUrl("/notificationHub")
                                            .configureLogging(signalR.LogLevel.Information) // Add this for detailed logs
                                            .build();

                                        connection.on("ReceiveNotifications", function (notifications) {
                                             const container = document.getElementById("notification-container");
                                                 const countLabel = document.getElementById("notification-count");
                                                 countLabel.innerHTML = notifications.filter(n => !n.markRead).length;
                                            container.innerHTML = ""; // Clear existing

                                                        // <a href="#" onclick="NotifMarkRead(${n.notificationId},'${n.url}')" class="dropdown-item preview-item ${n.markRead ?  ''  : 'bg-body-secondary' }">
                                                           //       <div class="dropdown-divider"></div>

                                                notifications.forEach(n => {
                                                            const item = `
                                                                  <a href="#" onclick="NotifMarkRead(${n.notificationId},'${n.url}')" class="dropdown-item d-flex align-items-center ${n.markRead ?  ''  : 'bg-body-secondary'}">
                                                                        <div class='mr-3'>
                                                                                <div class='icon-circle bg-primary'>
                                                                                    <i class='fa-regular fa-file-lines text-white'></i>
                                                                                </div>
                                                                        </div>
                                                                  <div>
                                                                        <div class='small text-gray-500'>${n.dateNotification}</div>
                                                                                <div class='small'>
                                                                                    <span class="${n.markRead ?  ''  : 'font-weight-bold'}">${n.description}</span>
                                                                                </div>
                                                                        </div>
                                                                  </a>

                                                            `;
                                                            container.innerHTML += item;
                                                        });
                                                    });

                                        connection.start()
                                            .then(function () {
                                                console.log("✅ Connected to SignalR");
                                                connection.invoke("GetNotifications");
                                            })
                                            .catch(function (err) {
                                                console.error("❌ Connection error:", err.toString());
                                            });

                                                             function NotifMarkRead(notificationId,url) {

                                                                    connection.invoke("MarkAsRead", notificationId)
                                                                    .then(() => {

                                                                    })
                                                                    .catch(err => {
                                                                        console.error("❌ SignalR error:", err.toString());
                                                                    });

                                                                            window.location.href = window.location.origin + url;
                                                                               //  location.reload();
                                                              }
                                    </script>



                                    @* END*@

                                    <a class="dropdown-item text-center small text-gray-500" href="/Home/Notification">Show All Notifications</a>
                                </div>
                            </li>


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-inline text-gray-600 small">
                                        @await Html.PartialAsync("_CurrentUser")
                                    </span>
                                    <img src="~/icon/default_male.png" class="profilePicture">
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <a asp-controller="Home" asp-action="Profile" class="dropdown-item">
                                        @* // asp-route-id="-1" *@
                                        <i class="fa fa-user-cog fa-sm fa-fw mr-2 text-gray-800"></i>
                                        Profile
                                    </a>
                                    @* 		<a class="dropdown-item" href="http://202.57.47.34/DCI-ESS-STG/account/activity-log/"> *@
                                    <a asp-controller="Maintenance" asp-action="ActivityLog" asp-route-id="-1" class="dropdown-item">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-800"></i>
                                        Activity Log
                                    </a>


                                    <a asp-controller="Todo" asp-action="ApprovalLog" class="dropdown-item">
                                        <i class="fas fa-check fa-sm fa-fw mr-2 text-gray-800"></i>
                                        Approval Log
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-800"></i>
                                        Logout
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </nav>

                    <div class="container-fluid">
                
                        <div class="row">
                          
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                    
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="logoutModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Ready to Leave?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="desc">Select <strong>"Logout"</strong> below if you are ready to end your current session.</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">
                            <small>Logout</small>
                        </a>   

                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><small>Cancel</small></button>
                    </div>
                </div>
            </div>
        </div>

    }
    @RenderBody()
    @if (isNonAccountAction && isNonAccountController)
    {

        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>&copy; @DateTime.Now.Year DBP Data Center Inc.</span>
                </div>
            </div>
        </footer>
    }
    @* 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/DCIcustom.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>

    @*  Flat pickr Date*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @* Datatable Date Range*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.6.0/js/dataTables.dateTime.min.js"></script>

    @*  Export Button*@
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css">



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



@section scripts {
    <script type="text/javascript">
        //var js = jQuery.noConflict(true);

        $(document).ready(function () {


        });

        function Logout() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                //data: JSON.stringify(data),
                //contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.success) {
                        // bootbox.alert(response.message, function () {
                        // 	location.reload();
                        // });
                    } else {
                        //bootbox.alert(response.message);
                    }
                },
                error: function () {
                    //bootbox.alert('An error occurred. Please try again.');
                }
            });
        }

    </script>
}