@model DCI.Models.ViewModel.ChangePasswordViewModel
<link href="~/css/login-custom.css" rel="stylesheet" />

<div class="loginBG">
    <div class="gap gap-lg"></div>
    <div class="container">
        <div class="row">
            <div class="offset-xl-4 offset-lg-3 offset-md-2 offset-1 col-xl-4 col-lg-6 col-md-8 col-10">
                <div class="loginDiv">
                    <form asp-action="ChangePassword" method="post">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" id="NewPass" placeholder="New Password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" id="ConfirmPass" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger" type="password"></span>
                        </div>

                        <div class="form-group">
                            <ul>
                                <li>At least 8 characters</li>
                                <li>At least one uppercase letter</li>
                                <li>At least one lowercase letter</li>
                                <li>At least one digit</li>
                                <li>At least one special character</li>
                            </ul>
                        </div>

                        <input type="hidden" asp-for="Email" />
               @*          <input type="hidden" asp-for="Token" /> *@

                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                    <div class="copyrights">
                        <label>&copy; 2024 DBP Data Center Inc.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
