<link href="~/css/login-custom.css" rel="stylesheet" />

<div class="loginBG">
    <div class="gap gap-lg"></div>
    <div class="container">
        <div class="row">
            <div class="offset-xl-4 offset-lg-3 offset-md-2 offset-1 col-xl-4 col-lg-6 col-md-8 col-10">
                <div class="loginDiv">
                    <label class="title">Forgot your password?</label>
                    <p class="desc">Enter your email below to reset your password</p>
                    @*   <form asp-action="PasswordReset" method="post" id="forgotpassword"> *@
                    <form id="forgotpassword" method="post">
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control inputLogin" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" id="g-recaptcha-response" name="g-recaptcha-response" data-sitekey="6LdJyVYfAAAAAPu-_bCKwDzyGnQ6RdV1RJj5niRY"></div>
                        </div>

                        <div class="form-group text-left mt0">
                            <a asp-controller="Account" asp-action="Login" class="forgotPasswordLink" tabindex="-1"> Back to Login? </a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block w-100" onclick="PasswordReset()">Submit</button>
                            <p class="responseMessage"></p>
                        </div>
                    </form>
                </div>
                <div class="copyrights">
                    <label>&copy; 2024 DBP Data Center Inc.</label>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });

        $('#forgotpassword').submit(function (event) {
            event.preventDefault();
            let emailadd = document.getElementById("email").value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("PasswordReset", "Account")',
                data: { email: emailadd },               
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        bootbox.alert(response.message, function () {
                            location.reload();
                        });
                    } else {
                        bootbox.alert(response.message);
                    }
                },
                error: function () {
                    bootbox.alert('An error occurred. Please try again.');
                }
            });
        });
    </script>
}