html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.loginBG {
    background: #e0e7f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

/* System Management Accordion */
.btnShowHide {
    font-size: 20px;
    color: black;
}

.float-right {
    float: right !important
}

.ulPermission, .ulPermissionView {
    padding-left: 0px;
    border-bottom: 1px dashed #bdbdbd;
}

    .ulPermission > li, .ulPermissionView > li {
        display: inline-block;
        margin-right: 10px;
    }

        .ulPermissionView > li label {
            background: black;
            color: white;
            padding: 5px 15px;
            font-size: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
