@model DCI.Models.ViewModel.OvertimeViewModel
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />

@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Department);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">@ViewBag.BreadCrumbLabel</h6>
        <div class="upperRightDivBtn">
            <a href="#" title="Add Department" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="newForm()">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>Add Overtime</small></span>
            </a>
            <a href="#" title="Add Department" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="newForm()">
    @*             <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span> *@
                <span class="text text-white"><small>Submit</small></span>
            </a>
        </div>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="#">Overtime</a></li>
            <li><a href="#">File Overtime</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">

                <div class="row">
                    <div class="col-md-6">
                        <label class="frmText">Request No</label>
                        <input type="text" min="0" step="any" id="RequestNo" name="NoOfDays" class="form-control frmField" readonly="true">
                    </div>
                    <div class="col-md-6">
                        <label class="frmText">Status</label>
                        <input type="text" min="0" step="any" id="StatusId" name="StatusId" class="form-control frmField" readonly="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="frmText">Recommended By</label>
                        <input type="text" min="0" step="any" id="RecommendedBy" name="RecommendedBy" class="form-control frmField" readonly="true">
                    </div>
                    <div class="col-md-6">
                        <label class="frmText">Approved By</label>
                        <input type="text" min="0" step="any" id="ApprovedBy" name="ApprovedBy" class="form-control frmField" readonly="true">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <div id="grandTotalText"><strong>Grand Total:</strong> 0h 0m</div>
            @*             <input name="TotalMinutes" id="TotalMinutes" value="0" > *@
                    </div>
                </div>

              

                <table id="otTable" class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Time From</th>
                            <th>Time To</th>
                            <th>Total Hours</th>
                            <th hidden>Total Minutes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- rows appended here -->
                    </tbody>
                </table>
            </div>
</<div>
</div>


            <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Overtime</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="createForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="frmText"><span class="required">*</span> Type</label>
                                    <select id="leaveTypeSelect" class="form-select" required onchange="GetLeaveTypeAmount()">
                                        <option value="0">Select</option>
                                        <option value="1">125% REGULAR (AFTER OFFICE HRS. /MON - FRI / EXCEPT HOLIDAY</option>
                                        <option value="2">10% NIGHT DIFFERENTIAL (10PM - 6AM) MON - SUN / HOLIDAY</option>
                                        <option value="3">130% SPECIAL HOLIDAY MON - SUN / SAT-SUN (FIRST 8 HRS.)</option>
                                        <option value="4">169% AFTER 8 HRS OF 130%</option>
                                        <option value="5">150% HOLIDAY ON REST DAY (SAT - SUN)</option>
                                    </select>


                                    <label class="frmText"><span class="required">*</span> Date: </label>
                                    <div class="input-group">
                                        <input type="text" name="OTDate" id="OTDate" class="form-control frmField" autocomplete="off">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <label for="OTDate" generated="true" class="error"></label>



                                    <label class="frmText"><span class="required">*</span> Time From: </label>
                                    <div class="input-group">
                                        <input type="text" name="OTTimeFrom" id="OTTimeFrom" class="form-control frmField" autocomplete="off">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <label for="OTTimeFrom" generated="true" class="error"></label>

                                    <label class="frmText"><span class="required">*</span> Time To: </label>
                                    <div class="input-group">
                                        <input type="text" name="OTTimeTo" id="OTTimeTo" class="form-control frmField" autocomplete="off">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <label for="OTTimeTo" generated="true" class="error"></label>

                                    @* <label class="frmText">Total: </label> *@
                                    <div id="totalTime"></div>
                                </div>

                      
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="addBtn" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><small>Close</small></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

@section scripts {

                <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
                <script src="~/js/dci-validation.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



                <script type="text/javascript">
                            var js = jQuery.noConflict(true);
                                               let fromTime = null;
                        let toTime = null;

                                    $('.spinner-overlay').show();

                        setTimeout(() => {
                            $('.spinner-overlay').hide();
                        }, 200);


                            $(document).ready(function () {
                                js('#tblDTR').DataTable({
                                     order: [[2, 'desc']]
                                });


                                       flatpickr("#OTDate", {
                                                    enableTime: false,
                                                   dateFormat: "Y-m-d",
                                                        time_24hr: true,
                                                                     onChange: function(selectedDates, dateStr, instance) {
                                                      }
                                                });



                                                   flatpickr("#OTTimeFrom", {
                                                             enableTime: true,
                                                             noCalendar: true,
                                                              dateFormat: "H:i",
                                                              onChange: function(selectedDates) {
                                                              fromTime = selectedDates[0];
                                                              calculateDuration();
                                                            }
                                                        });

                                                       flatpickr("#OTTimeTo", {
                                                                 enableTime: true,
                                                         noCalendar: true,
                                                        dateFormat: "H:i",
                                                         onChange: function(selectedDates) {
                                                      toTime = selectedDates[0];
                                                      calculateDuration();
                                                    }
                                                });



                            });



                    function calculateDuration() {
                          if (fromTime && toTime) {
                            // Set both times on the same day
                            const baseDate = new Date();
                            const from = new Date(baseDate);
                            from.setHours(fromTime.getHours(), fromTime.getMinutes(), 0, 0);

                            const to = new Date(baseDate);
                            to.setHours(toTime.getHours(), toTime.getMinutes(), 0, 0);

                            // Handle crossing midnight
                            if (to < from) {
                              to.setDate(to.getDate() + 1);
                            }

                            const diffMs = to - from;
                            const diffMins = Math.floor(diffMs / 60000);
                            const hours = Math.floor(diffMins / 60);
                            const minutes = diffMins % 60;

                            document.getElementById("totalTime").innerText =
                              `Total: ${hours} hour(s) and ${minutes} minute(s)`;
                          }
                        }

                            function newForm(dtr) {
                               // console.log(dtr)

                                  const timefrom = document.querySelector("#OTTimeFrom")._flatpickr;
                                                     timefrom.clear();
                                  const timeto = document.querySelector("#OTTimeTo")._flatpickr;
                                                                     timeto.clear();


                                    js('#createmodal').modal('show');
                            }  
                </script>

                <script>
                    function parseTime(str) {
                      const parts = str.split(':');
                      if (parts.length !== 2) return null;
                      const h = parseInt(parts[0], 10);
                      const m = parseInt(parts[1], 10);
                      if (isNaN(h) || isNaN(m) || h < 0 || h > 23 || m < 0 || m > 59) return null;
                      return { h, m };
                    }

                    function computeDuration(fromStr, toStr) {
                      const from = parseTime(fromStr);
                      const to = parseTime(toStr);
                      if (!from || !to) return null;
                      let fromMinutes = from.h * 60 + from.m;
                      let toMinutes = to.h * 60 + to.m;
                      if (toMinutes < fromMinutes) {
                        toMinutes += 24 * 60;
                      }
                      return toMinutes - fromMinutes; // minutes
                    }

                    function formatMinutes(totalMinutes) {
                      const h = Math.floor(totalMinutes / 60);
                      const m = totalMinutes % 60;
                      return `${h}h ${m}m`;
                    }

                    function updateGrandTotal() {
                      const rows = document.querySelectorAll('#otTable tbody tr');
                      let sumMinutes = 0;
                      rows.forEach(r => {
                        const cell = r.children[4]; // Total Hours column
                        if (!cell) return;
                        const text = cell.textContent.trim(); // e.g., "2h 30m"
                        const match = text.match(/(\d+)h\s*(\d+)m/);
                        if (match) {
                          const h = parseInt(match[1], 10);
                          const m = parseInt(match[2], 10);
                          sumMinutes += h * 60 + m;
                        }
                      });
                      document.getElementById('grandTotalText').innerHTML = `<strong>Grand Total:</strong> ${formatMinutes(sumMinutes)}`;
                    }

                    document.getElementById('addBtn').addEventListener('click', function () {
                          document.querySelectorAll('.error').forEach(e => e.textContent = '');

                          const typeSelect = document.getElementById('leaveTypeSelect');
                          const typeVal = typeSelect.value;
                          const typeText = typeSelect.options[typeSelect.selectedIndex].text.trim();
                          const date = document.getElementById('OTDate').value.trim();
                          const from = document.getElementById('OTTimeFrom').value.trim();
                          const to = document.getElementById('OTTimeTo').value.trim();

                          let hasError = false;
                          if (typeVal === '0') {
                            hasError = true;
                            alert('Please select a Type.');
                          }
                          if (!date) {
                            hasError = true;
                            document.querySelector('label[for="OTDate"]').textContent = 'Required';
                          }
                          if (!from) {
                            hasError = true;
                            document.querySelector('label[for="OTTimeFrom"]').textContent = 'Required';
                          }
                          if (!to) {
                            hasError = true;
                            document.querySelector('label[for="OTTimeTo"]').textContent = 'Required';
                          }
                          if (hasError) return;

                           if (dateAlreadyExists(date)) {
                              alert('An entry for that date already exists. You cannot add a duplicate date.');
                              return;
                            }

                          const durationMinutes = computeDuration(from, to);
                          if (durationMinutes === null) {
                            alert('Time format invalid. Use HH:mm.');
                            return;
                          }

                          document.getElementById('totalTime').textContent = 'Total: ' + formatMinutes(durationMinutes);

                          let entryIndex = 0;
                          const tbody = document.querySelector('#otTable tbody');
                          const tr = document.createElement('tr');

                          tr.innerHTML = `
                            <td>${typeText}</td>
                            <td>${date}</td>
                            <td>${from}</td>
                            <td>${to}</td>
                            <td>${formatMinutes(durationMinutes)}</td>
                           <td hidden class="total-minutes-cell">
                              ${durationMinutes}
                              <input type="hidden" name="Entries[${entryIndex}].TotalMinutes" value="${durationMinutes}">
                           </td>
                            <td><button type="button" class="btn btn-sm btn-danger remove-row">Remove</button></td>
                          `;

                          tbody.appendChild(tr);
                           entryIndex++;
                          updateGrandTotal();
                          js('#createmodal').modal('hide');
                    });

                    // Delegate removal and update grand total
                    document.querySelector('#otTable tbody').addEventListener('click', function (e) {
                      if (e.target.matches('.remove-row')) {
                        const row = e.target.closest('tr');
                        row.remove();
                        updateGrandTotal();
                      }
                    });

                                        function dateAlreadyExists(dateStr) {
                      const rows = document.querySelectorAll('#otTable tbody tr');
                      for (const r of rows) {
                        const existingDate = r.children[1]?.textContent.trim(); // Date column
                        if (existingDate === dateStr) return true;
                      }
                      return false;
                    }

                </script>


}
