<style>
</style>
<h1>Image to PDF Converter</h1>

<div class="container">
    <input id="text" type="text" value="https://hogangnono.com" style="width:80%" /><br />
    <div id="qrcode"></div>
    <button onclick="makeCode()">Generate QRCode</button>
    <button onclick="modifyPdf()">Modify PDF</button>
@*     <button onclick="embedImages()">ImageToPDF</button> *@

    <input id="PdfBase64" type="hidden" value="@ViewBag.PdfBase64" /><br />
    <input id="QRBase64" type="hidden" value="@ViewBag.QRBase64" /><br />
@* 
    <iframe src="data:application/pdf;base64,@ViewBag.PdfBase64" width="100%" height="600px"></iframe> *@

@*     <iframe src="data:image/jpg;base64,@ViewBag.QRBase64" width="100%" height="300px"></iframe>  *@
</div>
    @section scripts {
      @*   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> *@

        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>

   

        <script>
                  const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib
          
               

       async function modifyPdf() {                   

         const QRbase64x = $('#QRBase64').val();
         const base64x = $('#PdfBase64').val();           

 
        const dataUri = 'data:application/pdf;base64,' + base64x
            const QRdataUri = 'data:image/jpg;base64,' + QRbase64x
 

        const pdfDoc = await PDFDocument.load(dataUri)

        const url = 'https://pdf-lib.js.org/assets/with_update_sections.pdf'

         
         
        const jpgUrl = 'https://pdf-lib.js.org/assets/minions_banana_alpha.png'


                const jpgImageBytes = await fetch(QRdataUri).then((res) => res.arrayBuffer())
  
            const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())

          const pages = pdfDoc.getPages()
         
          const firstPage = pages[0]
        
                     const jpgImage = await pdfDoc.embedJpg(jpgImageBytes)

          const { width, height } = firstPage.getSize()      
             const logoWidth = 100;  
        const logoHeight = 100;  

          const pngDims = jpgImage.scale(1);
          const pageWidth = firstPage.getWidth();
          const pageHeight = firstPage.getHeight();

             firstPage.drawImage(jpgImage, {
                x: pageWidth - logoWidth - 20,
                  y: 18, //pageHeight - logoHeight - 20 important upper right
                  width: logoWidth,
                height: logoHeight,
            });
         
          const pdfBytes = await pdfDoc.save()

          
          download(pdfBytes, "pdffile.pdf", "application/pdf");
        }
        </script>


    <script>
        var qrcode = new QRCode("qrcode");

        function makeCode () {
          var elText = document.getElementById("text");

          if (!elText.value) {
            alert("Input a text");
            elText.focus();
            return;
          }

         qrcode.makeCode(elText.value);         

                    setTimeout(() => {
                     saveQRCode();
                }, 1000); 
        }

         function saveQRCode() {
            let qrCanvas = document.querySelector("#qrcode canvas"); // Get the QR code canvas
            if (qrCanvas) {
                let imgData = qrCanvas.toDataURL("image/png"); // Convert canvas to image URL
                let link = document.createElement("a"); // Create a download link
                link.href = imgData;
                link.download = "QRCodeXX.png"; // Set the filename
                document.body.appendChild(link);
                link.click(); // Trigger download
                document.body.removeChild(link); // Clean up
            }
        }

        // makeCode();

        // $("#text").
        //   on("blur", function () {
        //     makeCode();

        //       setTimeout(() => {
        //             saveQRCode();
        //         }, 1000); // Give it some time to generate

        //   }).
        //   on("keydown", function (e) {
        //     if (e.keyCode == 13) {

        //       makeCode();

        //         setTimeout(() => {
        //             saveQRCode();
        //         }, 1000); // Give it some time to generate

        //     }
        //   });

    </script>

   
    }