<li class="nav-item dropdown no-arrow mx-1">
	<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-bell fa-fw"></i>
		<!-- Counter - Alerts -->
		<span class="badge badge-danger badge-counter">0</span>
	</a>
	<!-- Dropdown - Alerts -->
	<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
		<h6 class="dropdown-header">
			Notifications
		</h6>

		<div class='dropdown-item d-flex align-items-center'>
			<div class='text-center full-width p10'>
				<div class='small'>
					No notification available
				</div>
			</div>
		</div>

		<a class="dropdown-item text-center small text-gray-500" href="http://202.57.47.34/DCI-ESS-STG/account/notifications/">Show All Notifications</a>


	</div>

</li>