<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h3 class="text-danger">Invalid or Expired Token</h3>
            <p class="mt-3">The password reset token is invalid or has expired. Please try to reset your password again.</p>
             <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-primary mt-4">Go to Reset Password</a>
        </div>
    </div>
</div>